@import "../assets/css/fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define font family for your elements */
body {
    font-family: 'Proxima Nova', sans-serif !important;
}
[type="checkbox"]:focus-visible,
[type="radio"]:focus-visible {
    outline: 0;
}
.with_doth3 {
  position: relative;
}
.with_doth3:before {
  width: 10px;
  height: 10px;
  background: #1359C3;
  border-radius: 50%;
  display: block;
  content: "";
  position: absolute;
  left: -30px;
  top: 3px;
}
.overlay_con {
  position: relative;
  z-index: 1;
}
.bg_overlay {
  position: relative;
}
.bg_overlay:after {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  display: block;
  background: linear-gradient(180deg, rgb(0 0 0 / 54%) 0%, rgba(0, 0, 0, 0.24) 100%);
  z-index: 0;
}
.overlay_card {
  z-index: 0;
}
.overlay_card:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  content: "";
  background: #1359C3;
  opacity: 0.86;
  z-index: -1;
}
.box_item {
  box-shadow: -1px 2px 8px 0px #D7D7D7;
  margin-bottom: 6px;
  border-radius: 8px;
  text-align: center;
  min-width: 125px;
  /* padding: 35px 0px; */
  cursor: pointer;
  height: 150px;
}
.box_item a {
  padding: 15px;
  width: 100%;
}
.box_item img {
  width: 38px;
  margin: 0 auto;
  padding-bottom: 12px;
  display: block;
}
.link_tooltip:hover .tooltip_dropdown_new {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.tooltip_dropdown_new {
  position: absolute;
  top: 61px;
  background: #F16622;
  border-radius: 3px;
  padding: 10px;
  font-weight: 300;
  font-size: 14px;
  color: #FFFFFF;
  min-width: 180px;
  left: 0;
  text-transform: none;
  visibility: hidden;
  opacity: 0;
  transition: all 0.15s ease-in-out;
  transform: translateY(10px);
  right: 0;
  right: 0;
  bottom: 0;
}
.discenter {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Tooltip Dropdown CSS */
.tooltip_dropdown {
  position: absolute;
  top: 60px;
  background: #f16622;
  border-radius: 3px;
  padding: 10px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  min-width: 160px;
  text-transform: none;
  visibility: hidden;
  opacity: 0;
  transition: all 0.15s ease-in-out;
  transform: translateY(10px);
  max-width: 92px;
  right: unset;
}

/* Show tooltip on hover */
li:hover .tooltip_dropdown {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}


/* HEADER CSS */
/* components/Header.module.css */


/* Add responsive styles */
.navbar {
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  justify-content: space-between;
  align-items: center;
}



@media (min-width: 1200px) {
  .navbar {
    max-height: 100px;
  }

  .toggle {
    display: none;
  }
}

@media (max-width: 1200px) {
  .toggle {
    display: flex;
    cursor: pointer;
  }
  .navbar.open {
    max-height: 100px;
  }
  
  .navbar.closed {
    max-height: 0;
  }
  .box_item {
    /* padding: 35px 10px; */
    height: 170px;
  
}
}
@media (max-width: 1024px) {
  .tabs_div {
    margin-bottom: 30px;
    padding-bottom: 20px;
}
.button_tabs_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
}
}
@media (max-width: 420px) {
  .button_tabs_right button {
    font-size: 13px;
    padding: 15px 10px;
}
}