@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Proxima+Nova&display=swap');




/* Define font family for your elements */
body {
    font-family: 'Proxima Nova', sans-serif !important;
}






/* HEADER CSS */
/* components/Header.module.css */


/* Add responsive styles */
@media screen and (max-width: 768px) {
  .toggle {
    display: flex !important;
    flex-direction: column;
    cursor: pointer;
  }
  
  .toggle span {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: transform 0.3s ease-in-out;
  }
  
  .toggle.open span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  
  .toggle.open span:nth-child(2) {
    opacity: 0;
  }
  
  .toggle.open span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
  
}  
