@import "../assets/css/fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define font family for your elements */
body {
  font-family: "Proxima Nova", sans-serif !important;
}
[type="checkbox"]:focus-visible, [type="radio"]:focus-visible {
  outline: 0;
  height: 20px !important;
  width: 20px !important;
}
.myshadow {
  border-radius: 3px;
  /* box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.04); */
  box-shadow: -1px 2px 8px 0px #d7d7d7;
}
/*********10 *******************/
.right_text2 {
  text-align: right;
}
.portfolio_item_header {
  text-align: left;
}
.break-words2 {
  text-align: left;
}
.feedback_item_header .left2 {
  margin-bottom: 10px;
  align-items: center;
  flex-direction: column;
  justify-content: start;
}
.feedback_item_title2 {
  margin-bottom: 10px;
  margin-left: -18px;
}
.portfolio_item_date2  {
  height: 30px;
}
.job_progress2 {
  height: 30px;
}
.taboverflow {
  min-width: 600px;
}
.overhidsec .inline-flex {
  overflow: auto;
}
/****************************/
.makedatepicker > div {
  height: 36px !important;
  background: none !important;
  border: 1px solid #d1d5db !important;
}
.countrydrop_form {
  background: none !important;
}
.w_wid {
  width: 23% !important;
}

.relative.w-full.inline-flex.tap-highlight-transparent.flex-row.items-center.shadow-sm.px-3.gap-3.bg-default-100.data-\[hover\=true\]\:bg-default-200.group-data-\[focus\=true\]\:bg-default-100.h-10.min-h-10.rounded-medium.\!h-auto.transition-background.motion-reduce\:transition-none.\!duration-150.outline-none.group-data-\[focus-visible\=true\]\:z-10.group-data-\[focus-visible\=true\]\:ring-2.group-data-\[focus-visible\=true\]\:ring-focus.group-data-\[focus-visible\=true\]\:ring-offset-2.group-data-\[focus-visible\=true\]\:ring-offset-background.py-2 {
    background: none;
}
.makedatepicker > div span {
  display: none !important;
}
.sort_drop_pro {
  width: 220px;
  border-radius: unset;
}
.pro_svgcall {
  background: #14ce80;
  font-size: 20px;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50px;
  margin-top: -32px;
}
.m-wid {
  width: 49%;
  height: 100%;
}
.m-wid img {
  border-radius: 0px !important;
}
[type="checkbox"]:focus-visible,
[type="radio"]:focus-visible {
    outline: 0;
}
.with_doth3 {
  position: relative;
}
.with_doth3:before {
  width: 10px;
  height: 10px;
  background: #1359c3;
  border-radius: 50%;
  display: block;
  content: "";
  position: absolute;
  left: -30px;
  top: 3px;
}
.overlay_con {
  position: relative;
  z-index: 1;
}
.bg_overlay {
  position: relative;
}
.bg_overlay:after {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  display: block;
  background: linear-gradient(
    180deg,
    rgb(0 0 0 / 54%) 0%,
    rgba(0, 0, 0, 0.24) 100%
  );
  z-index: 0;
}
.overlay_card {
  z-index: 0;
}
.overlay_card:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  content: "";
  background: #1359c3;
  opacity: 0.86;
  z-index: -1;
}
.box_item {
  box-shadow: -1px 2px 8px 0px #d7d7d7;
  margin-bottom: 6px;
  border-radius: 8px;
  text-align: center;
  min-width: 125px;
  /* padding: 35px 0px; */
  cursor: pointer;
  height: 150px;
}
.box_item a {
  padding: 15px;
  width: 100%;
}
.box_item img {
  width: 38px;
  margin: 0 auto;
  padding-bottom: 12px;
  display: block;
}
.link_tooltip:hover .tooltip_dropdown_new {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.tooltip_dropdown_new {
  position: absolute;
  top: 61px;
  background: #F16622;
  border-radius: 3px;
  padding: 10px;
  font-weight: 300;
  font-size: 14px;
  color: #FFFFFF;
  /* min-width: 180px; */
  left: 0;
  text-transform: none;
  visibility: hidden;
  opacity: 0;
  transition: all 0.15s ease-in-out;
  transform: translateY(10px);
  right: 0;
  right: 0;
  bottom: 0;
}
.discenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Tooltip Dropdown CSS */
.tooltip_dropdown {
  position: absolute;
  top: 60px;
  background: #f16622;
  border-radius: 3px;
  padding: 10px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  min-width: 160px;
  text-transform: none;
  visibility: hidden;
  opacity: 0;
  transition: all 0.15s ease-in-out;
  transform: translateY(10px);
  max-width: 92px;
  right: unset;
}

.tooltip-container:hover .tooltip_dropdown {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.social-icon li:nth-of-type(1) {
  animation: social_1 0.3s 1;
  top: -40px;
  left: -79px;
  position: absolute;
}
.social-icon li:nth-of-type(2) {
  animation: social_2 0.3s 1;
  top: -55px;
  left: -39px;
  position: absolute;
}
.social-icon li:nth-of-type(3) {
  animation: social_3 0.3s 1;
  top: -32px;
  left: 2px;
  position: absolute;
}


.shadow-small{
  margin: auto !important;
  display: block !important;
  color: #000 !important;
  background-color: #F9F9F9 !important;
  border-radius: 22px !important;
  text-align: center !important;
  font-size: 14px !important;
  padding: 10px 15px !important;
}

.transition-background{
  background-color: white !important;
}

.group[data-filled-within=true] .group-data-\[filled-within\=true\]\:text-foreground {
  font-size: 16px !important;
  padding-bottom: 8px !important;
}


/* HEADER CSS */
/* components/Header.module.css */

/* Add responsive styles */
.navbar {
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  justify-content: space-between; 
  align-items: center;
}
.tabCustom>span {
  border-bottom: 2px solid #063d8f;
  background: transparent !important;
  border-radius: 0px !important;
  box-shadow: none;
  bottom: -2px;
}
.tabCustom>span+div {
  color: #063d8f !important;
}
.input-wrapper label {
  font-size: 16px;
   top: 12px;
 }
 .input-wrapper input::placeholder {
  font-size: 16px;
  
 }
 .input-wrapper>div>div>div {
  background: #ffffff;
  height: 50px;
  border-radius: 0px;
  border: 1px solid #000;
  width: 100%;
  border: 1px solid #9b9898;
  border-radius: 3px;
  padding: 14px 15px;
  color: #4d4c4c;
  font-size: 16px;
 }
 .paymentatabs>div {
  background: transparent;
}
body .dropdownlist li {
  padding: 0px !important;
  }
  body .dropdownlist li a {
    padding:  10px !important;
    display: block;
    }


@media (min-width: 1200px) {
  .toggle {
    display: none;
  }
}
@media (max-width: 1280px) {
  .m-wid {
    width: 100%;
    height: auto;
}
.navbar.closed {
  max-height: 0;
}
.pdd-b {
  padding-bottom: 0px !important;
}
.navbar {
  position: fixed;
  background-color: #ffff;
  top: 50px;
  left: 0;
  right: 0;
}
.jobs_header_section {
  flex-direction: column;
  width: 100%;
  justify-content: center;
  margin-top:15px;
}
.jobs_header_section button {
  margin: 5px 0 5px 0;
}
.jobs_header_section input {
  padding-top: 10px;
  padding-bottom: 10px;
}
.main_navbar_section_sub {
  flex-wrap: wrap;
}
ul.how_it_work_section {
  margin-top: 15px;
  margin-bottom: 15px;
}
}
@media (max-width: 1200px) {
  .toggle {
    display: flex;
    cursor: pointer;
  }
  .navbar.open {
    max-height: auto;
  }
  .box_item {
    /* padding: 35px 10px; */
    height: 170px;
  }
}
@media (max-width: 1199px) {
  /* .attorney_card2 {
    max-width: 100%;
  } */
.section_with_sidebar .main_content {
  width: 100%;
}
.feedback_item .feedback_item_body {
  gap: 20px;
}
.profile_s_header2 {
  padding: 15px !important;
  align-items: start;
  width: 100%;
}
/* .feedback_item .feedback_item_body .left p {
  text-align: left;
}
.feedback_item_header .left {
  flex-direction: column !important;
  text-align: left;
  margin-bottom: 10px;
}
.left .stars_rating {
  margin: 0;
} */
}
@media (max-width: 1024px) {
  .profilesort {
    flex-direction: row !important;
  }
  .profile_s_header2  {
    max-width: 100%;
  }
   .attorney_card2 {
    max-width: 100%;
  }
  .apppad {
    margin: 10px 0px;
  }

  .sort_drop_pro {
    width: 90px;
    border-radius: unset;
}
  /* .wid100 {
    width: 100%;
  }
  .sort_select_wrpr {
    justify-content: start;
  } */
  .tabs_div {
    margin-bottom: 30px;
    padding-bottom: 20px;
  }
  .button_tabs_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
  }
  .tabbalance >div {
    width: 100%;
    padding: 2px 15px;
}
  .footer_left_main {
    flex-wrap: wrap;
}
  .w_wid {
    width: 31% !important;
  }
}
@media (max-width: 991px) {
 
  .padt0 {
    padding-top: 20px;
  }
  .padr0 {
    padding-right: 0px;
  }
  
  .mediawrap {
    display: flex;
    flex-direction: column;
  }
  .mediacol {
    width: 100% !important;
    border: none;
  }
}
@media (max-width: 768px) {
  
  .btnvid {
    gap: 20px;
  }
  .call_btn {
    margin-top: -17px;
  }
  .m0px {
    margin: 0px;
  }
  .mb10 {
    margin-bottom: 10px;
  }
  .mb20 {
    margin-top: 20px;
  }
  .wid100 {
    width: 100%;
  }
  .w_wid {
    width: 48% !important;
  }
}
@media (max-width: 704px) {
  .call_btn {
    margin-top: 32px;
  }
}
@media (max-width: 665px) {
  .mpad {
    padding-left: 5px;
    padding-right: 5px;
  }
  .footer_right_main {
    margin-top: 30px;
  }
}
@media (max-width: 420px) { 
  .footer_nav_right {
    flex-direction: column;
  }
}
@media (max-width: 580px) {
  .w_wid {
    width: 100% !important;
  }
  .procal {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
}
@media (max-width: 480px) {
  .sort_drop_pro {
    width: 200px;
  }
  .wid480 {
    width: 100%;
    margin: 10px 0px;
  }
  .sort_select_wrpr  {
    justify-content: center;
  }
  .wid480 h3 {
    text-align: center;
  }
  .widwrap {
    flex-direction: column;
  }
  .call_btn {
    margin: auto;
    padding-top: 40px;
  }
    
}
@media (max-width: 420px) {
 
  .btn420 {
    width: 100%;
  }
  .button_tabs_right button {
    font-size: 13px;
    padding: 15px 10px;
  }
  .box_item {
    /* padding: 35px 10px; */
    height: 150px;
  }
  .box_item a {
    font-size: 12px;
  }
  .tooltip_dropdown_new {
    top: 0px;
    font-size: 12px;
  }
}

.svgArrowLeft:hover svg{
  /* storke:blue */
  stroke: bluesecondary;
  
}

.svgArrowRight:hover svg{
   /* fill:blue;  */
  fill: bluesecondary;
}

